# Created by .ignore support plugin (hsz.mobi)
.gradle
build/
.gradletasknamecache
.idea
*.iws
/out/
*.iml
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
